{% extends 'locations/base.html' %}
{% block title %}Map{% endblock %}
{% block content %}
<style>
    #map {
        height: 850px;
    }
</style>
<div class="w3-sidebar w3-bar-block w3-border-right" style="display:none" id="mySidebar">
    <button onclick="w3_close()" class="w3-bar-item w3-large">Close &times;</button>
    <a href="#" class="w3-bar-item w3-button">Link 1</a>
    <a href="#" class="w3-bar-item w3-button">Link 2</a>
    <a href="#" class="w3-bar-item w3-button">Link 3</a>
</div>
<div id="main">

    <!-- <button id="openNav" class="w3-button w3-xlarge" onclick="w3_open()">&#9776;</button> -->
    <div class="w3-container">
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="https://bulma.io">
                    <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28" />
                </a>

                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                    data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item"> Home </a>

                    <a class="navbar-item"> Documentation </a>

                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link"> More </a>

                        <div class="navbar-dropdown">
                            <a class="navbar-item"> About </a>
                            <a class="navbar-item"> Jobs </a>
                            <a class="navbar-item"> Contact </a>
                            <hr class="navbar-divider" />
                            <a class="navbar-item"> Report an issue </a>
                        </div>
                    </div>
                </div>

                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="buttons">
                            {% if request.user.is_authenticated %}
                            <a class="button is-primary" href="{% url 'logout' %}">
                                <strong>Logout</strong>
                            </a>
                            {% else %}
                            <a class="button is-primary" href="{% url 'register' %}">
                                <strong>Sign up</strong>
                            </a>
                            <a class="button is-light" href="{% url 'login' %}"> Log in </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>


    <div class="w3-container">
        <div id="map"></div>
    </div>

</div>

<script>
    function createIcon(url,) {
        return L.icon({
            iconUrl: url,
            iconSize: [25, 41],
            iconAnchor: [12, 41],
            popupAnchor: [1, -34],
        });
    }
    var map = L.map('map').setView([27.7172, 85.3240], 7);
    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);
    // {% for feature in features %}
    // {% if feature.category == "wheelchair" %}
    var icon = createIcon("https://cdn.snishant.com.np/r/wheelchair.png");
    // {% elif feature.category == "handrail" %}
    var icon = createIcon("https://cdn.snishant.com.np/r/handrail.png");
    // {% elif feature.category == "tactile_paving" %}
    var icon = createIcon("https://cdn.snishant.com.np/r/tactile_paving.png");
    // {% endif %}
    var lat = "{{feature.location.latitude}}"
    var lon = "{{feature.location.longitude}}"
    var marker = L.marker([parseFloat(lat), parseFloat(lon)], {
        icon: icon
    }).addTo(map);
    function onMapClick(e) {
        w3_open();
    }

    marker.on("click", onMapClick);
    // {% endfor %}
</script>

<!--map-->
{% endblock %}