{% extends 'locations/base.html' %}
{% block title %}Map{% endblock %}
{% block content %}

<style>
    #map {
        height: 88vh;
    }
</style>
{{form.name}}
<script>
    function createIcon(url,) {
        return L.icon({
            iconUrl: url,
            iconSize: [25, 41],
            iconAnchor: [12, 41],
            popupAnchor: [1, -34],
        });
    }
    const map = L.map('map').setView([27.7172, 85.3240], 7);
    const wheelchairs = L.layerGroup().addTo(map);
    let wheelChairbutton = L.control({ position: "topright" });

    function createButton(label, container) {
        var btn = L.DomUtil.create('button', '', container);
        btn.setAttribute('type', 'button');
        btn.innerHTML = label;
        return btn;
    }

    function createNavButton(label, container, e) {
        var btn = L.DomUtil.create('a', '', container);
        btn.setAttribute('type', 'button');
        btn.innerHTML = label;
        btn.href = `/create-location/?lat=${e.latlng.lat}&lng=${e.latlng.lng}`
        return btn;
    }

    const control = L.Routing.control({
        waypoints: [

        ],
        routeWhileDragging: true
    }).addTo(map);

    const routingContainer = document.getElementsByClassName("leaflet-routing-container")[0];
    routingContainer.style = "display:none;"

    map.on('click', function (e) {
        var container = L.DomUtil.create('div');
        var start = createButton('Start from this location', container);
        var destination = createButton('Go to this location', container);
        // {% if request.user.is_authenticated %}
        var createLocation = createNavButton("<button id='nav-button'>Add this point</button>", container, e);
        // {% endif %}
        L.popup()
            .setContent(container)
            .setLatLng(e.latlng)
            .openOn(map);

        L.DomEvent.on(start, 'click', function () {
            control.spliceWaypoints(0, 1, e.latlng);
            map.closePopup();
        });

        L.DomEvent.on(destination, 'click', function () {
            control.spliceWaypoints(control.getWaypoints().length - 1, 1, e.latlng);
            map.closePopup();
        });

        L.DomEvent.on(destination, 'click', function () {
            control.spliceWaypoints(control.getWaypoints().length - 1, 1, e.latlng);
            routingContainer.style = "display:block;"
            map.closePopup();
        });
    });


    const clearButton = L.Control.extend({
        options: {
            position: "topright",
        },

        onAdd: function () {
            const button = L.DomUtil.create("div");
            button.innerHTML = "<button id='clear-button'>Clear Waypoints</button>";
            button.onclick = function () {
                control.setWaypoints([]);
                L.popup()
                    .setContent("");
                routingContainer.style = "display:none;"
            };
            return button;
        },
    });

    map.addControl(new clearButton());


    wheelChairbutton.onAdd = function (map) {
        let div = L.DomUtil.create("div", "wheelchair-button");
        div.innerHTML = "<button id='wheelchair-button'>Toggle Wheelchairs</button>";
        return div;
    };

    wheelChairbutton.addTo(map);

    var wheelButton = document.getElementById("wheelchair-button");
    wheelButton.addEventListener("click", function () {
        if (map.hasLayer(wheelchairs)) {
            map.removeLayer(wheelchairs);
            wheelButton.style.background = "#00d1b2"
        } else {
            map.addLayer(wheelchairs);
            wheelButton.style.background = "red"
        }
    });

    const tactilePaving = L.layerGroup().addTo(map);
    let pavingButton = L.control({ position: "topright" });

    pavingButton.onAdd = function (map) {
        let div = L.DomUtil.create("div", "paving-button");
        div.innerHTML = "<button id='paving-button'>Toggle Tactile Pavings</button>";
        return div;
    };

    pavingButton.addTo(map);

    var pavementButton = document.getElementById("paving-button")
    pavementButton.addEventListener("click", function () {
        if (map.hasLayer(tactilePaving)) {
            map.removeLayer(tactilePaving);
            pavementButton.style.background = "#00d1b2"
        } else {
            map.addLayer(tactilePaving);
            pavementButton.style.background = "red"
        }
    });
    const parking = L.layerGroup().addTo(map);
    let parkingButton = L.control({ position: "topright" });

    parkingButton.onAdd = function (map) {
        let div = L.DomUtil.create("div", "parking-button");
        div.innerHTML = "<button id='parking-button'>Toggle Parking</button>";
        return div;
    };

    parkingButton.addTo(map);

    var parkButton = document.getElementById("parking-button")
    parkButton.addEventListener("click", function () {
        if (map.hasLayer(parking)) {
            map.removeLayer(parking);
            parkButton.style.background = "#00d1b2"
        } else {
            map.addLayer(parking);
            parkButton.style.background = "red"
        }
    });

    const handrail = L.layerGroup().addTo(map);
    let handrailButton = L.control({ position: "topright" });

    handrailButton.onAdd = function (map) {
        let div = L.DomUtil.create("div", "handrail-button");
        div.innerHTML = "<button id='handrail-button'>Toggle Handrail</button>";
        return div;
    };

    handrailButton.addTo(map);

    var handrailButtonn = document.getElementById("handrail-button")
    handrailButtonn.addEventListener("click", function () {
        if (map.hasLayer(handrail)) {
            map.removeLayer(handrail);
            handrailButtonn.style.background = "#00d1b2"
        } else {
            map.addLayer(handrail);
            handrailButtonn.style.background = "red"
        }
    });
    const restrooms = L.layerGroup().addTo(map);
    let restroomButton = L.control({ position: "topright" });

    restroomButton.onAdd = function (map) {
        let div = L.DomUtil.create("div", "parking-button");
        div.innerHTML = "<button id='restroom-button'>Toggle Accessible Restrooms</button>";
        return div;
    };

    restroomButton.addTo(map);

    var restButton = document.getElementById("restroom-button");
    restButton.addEventListener("click", function () {
        if (map.hasLayer(restrooms)) {
            map.removeLayer(restrooms);
            restButton.style.background = "#00d1b2";
        } else {
            map.addLayer(restrooms);
            restButton.style.background = "red";
        }
    });
    function handleButtonClick(event) {
        event.stopPropagation();
    }
    document.getElementById("restroom-button").addEventListener("click", handleButtonClick);
    document.getElementById("wheelchair-button").addEventListener("click", handleButtonClick);
    document.getElementById("paving-button").addEventListener("click", handleButtonClick);
    document.getElementById("parking-button").addEventListener("click", handleButtonClick);
    document.getElementById("handrail-button").addEventListener("click", handleButtonClick);
    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);
    // {% for feature in features %}
    // {% if feature.category == "wheelchair" %}
    var icon = createIcon("https://cdn.snishant.com.np/r/wheelchair.png");
    // {% elif feature.category == "handrail" %}
    var icon = createIcon("https://cdn.snishant.com.np/r/handrail.png");
    // {% elif feature.category == "tactile_paving" %}
    var icon = createIcon("https://cdn.snishant.com.np/r/tactile_paving.png");
    // {% elif feature.category == "accessible_parking" %}
    var icon = createIcon("https://cdn.snishant.com.np/r/parking.png");
    // {% elif feature.category == "accessible_restroom" %}
    var icon = createIcon("https://cdn.snishant.com.np/r/restroom.png");
    // {% endif %}
    var lat = "{{feature.location.latitude}}"
    var lon = "{{feature.location.longitude}}"
    var name = "{{feature.location.name}}"
    var marker = L.marker([parseFloat(lat), parseFloat(lon)], {
        icon: icon,
        markerInfo: {
            name: "{{feature.location.name}}" || "Unknown",
            latitude: lat,
            longitude: lon,
            feature: "{{feature.category}}",
            id: "{{feature.id}}"
        }
    });
    var info = marker.options.markerInfo;
    if (info.feature === "wheelchair") {
        wheelchairs.addLayer(marker);
        map.removeLayer(wheelchairs);
    }
    if (info.feature === "accessible_parking") {
        parking.addLayer(marker);
        map.removeLayer(parking);
    }
    if (info.feature === "tactile_paving") {
        tactilePaving.addLayer(marker);
        map.removeLayer(tactilePaving);
    }

    if (info.feature === "handrail") {
        handrail.addLayer(marker);
        map.removeLayer(handrail);
    }
    if (info.feature === "accessible_restroom") {
        restrooms.addLayer(marker);
        map.removeLayer(restrooms);
    }

    function onMapClick(e) {
        var markerInfoo = e.target.options.markerInfo;
        // document.getElementById("marker-info").innerHTML = "<h3>" + markerInfoo.name + "</h3><p>Latitude: " + markerInfoo.latitude + "</p><p>Longitude: " + markerInfoo.longitude + "</p><p>Type: " + markerInfoo.feature + "</p>";
        document.getElementById("marker-info").innerHTML = `<h2>${markerInfoo.name}</h2><p>Latitude: ${markerInfoo.latitude}</p><p>Longitude: ${markerInfoo.longitude}</p><p>Type: ${markerInfoo.feature}</p>`
        // {% if request.user.is_authenticated %}
        document.getElementById("form-container").innerHTML = "";

        // Create a container div for the form
        var formContainer = document.createElement("div");
        formContainer.className = "form-container";

        // Create the h3 heading
        var heading = document.createElement("h3");
        heading.innerText = "Add Your Review";
        formContainer.appendChild(heading);

        // Create and append the form dynamically
        var form = document.createElement("form");
        form.method = "post";
        form.action = "/add-review/" + markerInfoo.id + "/";

        var csrfToken = "{{csrf_token}}";
        var csrfInput = document.createElement("input");
        csrfInput.type = "hidden";
        csrfInput.name = "csrfmiddlewaretoken";
        csrfInput.value = csrfToken;

        var featureIdInput = document.createElement("input");
        featureIdInput.type = "hidden";
        featureIdInput.name = "feature_id";
        featureIdInput.value = markerInfoo.id;

        var ratingLabel = document.createElement("label");
        ratingLabel.innerText = "Is this a legitimate place?";
        ratingLabel.style.fontWeight = "bold";

        var ratingInput = document.createElement("input");
        ratingInput.type = "checkbox";
        ratingInput.name = "correct_info";
        ratingInput.id = "id_correct_info";
        ratingInput.className = "checkbox-input";

        var nameLabel = document.createElement("label");
        nameLabel.innerText = "Name:";
        nameLabel.style.fontWeight = "bold";

        var nameInput = document.createElement("input");
        nameInput.type = "text";
        nameInput.name = "name";
        nameInput.id = "id_name";

        var submitButton = document.createElement("button");
        submitButton.type = "submit";
        submitButton.innerText = "Add Review";
        submitButton.className = "submit-button";

        form.appendChild(csrfInput);
        form.appendChild(featureIdInput);
        form.appendChild(ratingLabel);
        form.appendChild(document.createElement("br")); // Move to a new line
        form.appendChild(ratingInput);
        form.appendChild(document.createElement("br"));
        // {% if markerInfoo.name == "Unknown" %}
        form.appendChild(nameLabel)
        form.appendChild(document.createElement("br")); // Move to a new line
        form.appendChild(nameInput)
        // {% endif %}
        form.appendChild(submitButton);

        formContainer.appendChild(form);

        document.getElementById("form-container").appendChild(formContainer);
        // {% endif %}
        var msg = new SpeechSynthesisUtterance();
        msg.text = markerInfoo.name.toString();
        if ('speechSynthesis' in window) {
            window.speechSynthesis.speak(msg);
        } else {
            alert("Sorry, your browser doesn't support text to speech!");
        }
        w3_open();

    }
    marker.on("click", onMapClick);

    // {% endfor %}
</script>
<script>
    document.addEventListener('DOMContentLoaded', () => {

        // Get all "navbar-burger" elements
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

        // Add a click event on each of them
        $navbarBurgers.forEach(el => {
            el.addEventListener('click', () => {

                // Get the target from the "data-target" attribute
                const target = el.dataset.target;
                const $target = document.getElementById(target);

                // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                el.classList.toggle('is-active');
                $target.classList.toggle('is-active');

            });
        });

    });
</script>
<!--map-->
{% endblock %}